.DS_Store

# Frontend
frontend/node_modules/
frontend/dist/

# Backend
backend/target/

# Python
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/

# Env files
.env
.env.*

# Logs
*.log

# NLP generated data
nlp-service/data/

# IDE
.idea/
.vscode/
